:root{
    /* COULEURS */
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);


    /* TRANSITION */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

    /* COULEURS GRADIENTS */
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--white)
    33.33% 50%, transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);

    /* FONT SIZE */
    --fontSize-display-1: calc(1.3rem + 4.7vw);
    --fontSize-headline-1: calc(2rem + 1vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* FONT WEIGHT */
    --weight-regular: 400;
    --weight-bold: 700;

    /* LINE-HEIGHT */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* LETTER-SPACING */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;


    /* SPACING */
    --section-space: 70px;

    /* SHADOW */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER-RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;
} 


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,img,data,span,input,button,select,textarea{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    height: auto;
}

input,button,select,textarea{
    background: none;
    border: none;
    font: inherit;
}

input,select,textarea{
    width: 100%;
    outline: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden;
    height: 300vh;
}

body.loaded{
    overflow: overlay;
}

body.nav-active{
    overflow: hidden;
}



.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4{
    color: var(--white);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
}

.display-1{
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
}

.headline-1{
    font-size: var(--fontSize-headline-1);
    color: var(--black);
}
.headline-2{
    font-size: var(--fontSize-headline-2);
    line-height: var(--lineHeight-6);
}

.title-1{ font-size: var(--fontSize-title-1);}
.title-2{ font-size: var(--fontSize-title-2);}
.title-3{ font-size: var(--fontSize-title-3);}
.title-4{ font-size: var(--fontSize-title-4);}

.body-1{
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
}

.body-2{
    font-size: var(--fontSize-body-2);
}

.body-3{ font-size: var(--fontSize-body-3);}

.body-4{ font-size: var(--fontSize-body-4);}

.label-1{
    font-size: var(--fontSize-label-1);
}
.label-2{
    font-size: var(--fontSize-label-2);
    color: #4070f4;
}


/* ABOUT */
.about{
    margin-top: 200px;
}

.about .container .about-content .section-img img{
    margin-top: 10px;
    border-radius: 10px;
}

.about .section-text{
    margin-block: 15px 10px;
}

.about .section-stars{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: gold;
}

.about .btn{
    margin-inline: auto;
    margin-block-start: 26px;
}

.about .container{
    display: grid;
    gap: 10px;
}

.about-banner{
    /* position: relative; */
    margin-block-end: 120px;
}

.about-banner .local{
    font-size: 25px;
    margin-top: 20px;
}

.navbar-link .span{
    color: var(--black);
    font-weight: var(--weight-bold);
}

.about .container .about-content .label-2{
    font-size: 20px;
    font-weight: var(--weight-bold);
}
:root{
    /* COULEURS */
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);


    /* TRANSITION */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

    /* COULEURS GRADIENTS */
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--white)
    33.33% 50%, transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);

    /* FONT SIZE */
    --fontSize-display-1: calc(1.3rem + 4.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 1.5vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* FONT WEIGHT */
    --weight-regular: 400;
    --weight-bold: 700;

    /* LINE-HEIGHT */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* LETTER-SPACING */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;


    /* SPACING */
    --section-space: 70px;

    /* SHADOW */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER-RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;
} 


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,img,data,span,input,button,select,textarea{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    height: auto;
}

input,button,select,textarea{
    background: none;
    border: none;
    font: inherit;
}

input,select,textarea{
    width: 100%;
    outline: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden;
    height: 300vh;
}

body.loaded{
    overflow: overlay;
}

body.nav-active{
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4070f4;
}


.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4{
    color: var(--white);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
}

.display-1{
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
}

.headline-1{
    font-size: var(--fontSize-headline-2);
    color: var(--white);
}
.headline-2{
    font-size: var(--fontSize-headline-2);
    line-height: var(--lineHeight-6);
}

.headline-3{
    color: var(--black);
    font-size: var(--fontSize-headline-2);
}

.title-1{ font-size: var(--fontSize-title-1);}
.title-2{ font-size: var(--fontSize-title-2);}
.title-3{ font-size: var(--fontSize-title-3);}
.title-4{ font-size: var(--fontSize-title-4);}

.body-1{
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
    color: gold;
}

.body-2{
    font-size: var(--fontSize-body-2);
}

.body-3{ font-size: var(--fontSize-body-3);}

.body-4{ font-size: var(--fontSize-body-4);}

.label-1{
    font-size: var(--fontSize-label-1);
}
.label-2{
    font-size: var(--fontSize-label-2);
}




.btn{
    position: relative;
    color: var(--white);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: var(--letterSpacing-5);
    border: 2px solid var(--white);
    border-radius: var(--radius-24);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
}

.btn2{
    width: 100%;
    position: relative;
    color: var(--white);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    max-width: 100%;
    letter-spacing: var(--letterSpacing-5);
    border: 2px solid var(--white);
    background-color: #4070f4;
    border-radius: 20px;
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
    transition: all 300ms ease-in-out;
}

.btn:hover{
    border: 2px solid #4070f4;
    background: transparent;
    color: #4070f4;
}
.btn2:hover{
    border: 2px solid #4070f4;
    background: transparent;
    color: #4070f4;
    transition: all 300ms ease-in-out;
}


.reservation{
    margin-top: 100px;
}

.form-left{
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
}

.input-field{
    background-color: rgb(237, 237, 237);
    height: 56px;
    padding: 18px 20px;
    border: 1px solid var(--eerie-black-1);
    margin-block-end: 20px;
    outline: none;
    transition: var(--transition-2);
}

.input-field::placeholder{
    color: inherit;
}

.input-field:focus{
    border-color: #4070f4;
}

.icon-wrapper{
    position: relative;
    margin-block-end: 20px;
}

.icon-wrapper .input-field{
    margin-block-end: 0;
    padding-inline-start: 40px;
    appearance: none;
    cursor: pointer;
}

.icon-wrapper span{
    color: var(--black);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    --span-stroke-width: 50px;
    pointer-events: none;
}

.icon-wrapper span:first-child{ left: 15px;}

.icon-wrapper span:last-child{ right: 10px;}

/* .reservation-form{ margin-block-start: -270px;} */

.form-text{ 
    margin-block-end: 40px;
    margin-top: 20px;
}

.form-text .link{
    display: inline;
    color: gold;
}

.form-right .headline-1{
    margin-block-end: 40px;
}

.form-right .contact-label{ margin-block-end: 5px; color: var(--white);}

.form-right .separator{ margin: 20px auto; }

.form-right .body-4{
    color: var(--black);
    line-height: var(--lineHeight-3);
}

.form-right .body-4:not(:last-child){ margin-block-end: 25px;}

.form-right,
.form-left{
    padding: 40px 20px 30px;
}

textarea.input-field{
    resize: none;
    height: 140px;
    padding-block: 20px;
    line-height: var(--lineHeight-1);
}

.form-left .btn{
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
}

.form-right{
    /* background-image: url('../images/c944988b-8c7a-415f-b171-d8c64a11978b.jpg'); */
    /* background-repeat: repeat; */
    background-position: top left;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
}

.map iframe{
    padding: 30px 0 0 0;
    max-width: 100%;
    width: 100%;
}
.footer-brand{
    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-direction: row;
    gap: 35%;
}