input{
    border: 1.2px solid #000;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.title{
    margin-top: 10%;
}


.container{
    background: #fff;
    width: 95%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
    margin-top: 15%;
}

.column-local{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
    
}

.local{
    margin-top: 5%;
}

form{
    margin-top: 2%;
}


h1{
    font-size: 30px;
    text-align: center;
    color: #4070f4;
}

p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

label{
    color: #4070f4;
    font-size: 14px;
}

textarea{
    width: 100%;
    background: #f1f1f1;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    border: 1.2px solid #000;
    margin-top: 5px;
    resize: none;
    height: 100%;
}

textarea:focus, input:focus{
    outline: none;
    border-color: #4070f4;
    transition: all 300ms ease-in-out;
}

button{
    width: 50%;
    border: none;
    padding: 10px 20px;
    background: #4070f4;
    color: #fff;
    transition: all 300ms ease-in-out;
    margin-top: 15%;
    border-radius: 10px;
}

button:hover{
    transition: all 300ms ease-in-out;
    border: 2px solid #4070f4;
    background: transparent;
    color: #4070f4;
}

input[type=file]{
    display: none;
}

.label{
    text-align: center;
    display: block;
    background: #F2F2F2;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.icon{
    font-size: 40px !important;
}

.search{
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.search:hover{
    transition: all 300ms ease-in-out;
    color: #4070f4;
}

.labeler{
    display: block;
    text-align: center;
}



@media (min-width: 1200px){
    .container{
        top: 40%;
    }

    .title{
        margin-top: 5%;
    }

    button{
        margin-top: 5%;
    }

    .column-local{
        display: flex;
        justify-content: space-around;
    }
}
