:root{
    /* COULEURS */
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);


    /* TRANSITION */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

    /* COULEURS GRADIENTS */
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--white)
    33.33% 50%, transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);

    /* FONT SIZE */
    --fontSize-display-1: calc(1.3rem + 4.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* FONT WEIGHT */
    --weight-regular: 400;
    --weight-bold: 700;

    /* LINE-HEIGHT */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* LETTER-SPACING */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;


    /* SPACING */
    --section-space: 70px;
    --section-padding: 60px;

    /* SHADOW */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER-RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;
} 


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,img,data,span,input,button,select,textarea{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    height: auto;
}

input,button,select,textarea{
    background: none;
    border: none;
    font: inherit;
}

input,select,textarea{
    width: 100%;
    outline: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden;
    height: 300vh;
}

body.loaded{
    overflow: overlay;
}

body.nav-active{
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4070f4;
}


.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4{
    color: var(--white);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
}

.display-1{
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
}

.headline-1{
    font-size: var(--fontSize-headline-1);
}
.headline-2{
    font-size: var(--fontSize-headline-2);
    line-height: var(--lineHeight-6);
}

.title-1{ font-size: var(--fontSize-title-1);}
.title-2{ font-size: var(--fontSize-title-2);}
.title-3{ font-size: var(--fontSize-title-3);}
.title-4{ font-size: var(--fontSize-title-4);}

.body-1{
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
}

.body-2{
    font-size: var(--fontSize-body-2);
}

.body-3{ font-size: var(--fontSize-body-3);}

.body-4{ font-size: var(--fontSize-body-4);}

.label-1{
    font-size: var(--fontSize-label-1);
}
.label-2{
    font-size: var(--fontSize-label-2);
}

.btn{
    position: relative;
    color: var(--white);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: var(--letterSpacing-5);
    border: 2px solid var(--white);
    border-radius: var(--radius-24);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
}

/* .hero-text{

} */


.section-subtitle{
    position: relative;
    color: var(--white);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
}

.section-subtitle2{
    position: relative;
    color: #4070f4;
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
}


.service{
    margin-top: 70px;
    text-align: center;
}

.section{
    padding-block: var(--section-padding);
}

.service-banner{
    display: none;
}

.service-list{
    gap: 0;
    margin-block-end: 20px;
}

.service-card{
    background: var(--white);
    padding: 10px;
    border-radius: var(--radius-24);
    box-shadow: var(--shadow-1);
}

.service-card .card-icon{
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 24px;
    background: #4070f4;
    border-radius: 20px;
    padding: 20px;
    transition: var(--transition-1);
}

.service-card .card-icon:hover{
    transform: translateY(-8px);
    transition: var(--transition-1);
}

.service-card .card-icon span{
    color: var(--white);
}

.service-card .card-text{
    line-height: 1.7;
    margin-block: 8px;
}

.w-100{
    width: 100%;
}








.about2{
    background: #4070f4;
    color: var(--white);
    text-align: center;
}

.about2 .container{
    display: grid;
    gap: 50px;
}

/* .about2 .container .about-banner{
    width: 250px;
} */

.about2 .container .about-banner img{
    transform: rotate(-45deg);
}

.about2 .section-title{
    color: var(--white);
}

.about2 .section-text:nth-child(3){
    margin-block: 12px 8px;
}

.about-list{
    display: grid;
    gap: 25px;
    margin-block-start: 25px;
}

.about-item{
    justify-content: center;
    background: #214198;
    padding: 40px 20px;
    transition: var(--transition-1);
}

.about-item:hover{
    background: var(--white);
    color: #4070f4;
    transform: translateY(-8px);
}

.about-item .strong{
    display: block;
    font-size: 22px;
    line-height: 1.1;
}

/* MEDIA QUERIES */

@media (min-width: 575px){
    
    .service .section-title{ margin-block-end: 30px;}

    .service-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-block-end: 40px;
    }

    .about-list{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .about-item{
        padding-block: 20px;
    }
    
}

@media (min-width: 768px){
    .service-banner{
        display: block;
        position: relative;
    }

    .service-list{ grid-template-columns: repeat(3, 1fr);}

    .service-banner img{
        position: absolute;
        top: 0;
        left: -25%;
        margin-block-start: 15%;
        width: 150%;
        transform-origin: top;
    }

    .about-banner{ max-width: max-content;}
    .about-banner,
    .about2 .section-text{ margin-inline: auto;}

    .about2 .section-text{max-width: 520px;}
}

@media (min-width: 992px){
   .service-card .card-text{
    padding-inline: 25px;
    line-height: 1.45;
    margin-block-end: 15px;
   }

   .service-list li:nth-child(-2n+3){
    margin-block-start: 90px;
   }

   .service-list li:nth-child(4){
    margin-block-end: 60px;
   }

   .service-list li:nth-child(6){
    margin-inline-start: 60px;
   }

   .service-banner{
    margin-top: -25%;
   }

   .service-banner img{
    left: -55%;
    margin-block-start: -15%;
    margin-inline: 50%;
    width: 110%;
   }

   .about2{
    position: relative;
    z-index: 1;
   }

   .about2,
   .about2 .section-title{ text-align: center;}

   .about2 .container{
    grid-template-columns: 1fr 0.75fr;
    gap: 30px;
   }

   .about2 .section-subtitle{ margin-inline: 0;}

   .about-banner,
   .about-banner .w-100{ margin-inline: auto 0;}

   .about-banner .w-100{ width: 60%;}
   .about-item{ text-align: center;}

   .about2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/istockphoto-1324257674-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    z-index: -1;
   }
}

@media (min-width: 1200px){

    :root{
        --fontSize-title-2: 2.5rem;
    }

    .container{
        max-width: 1200px;
        width: 100%;
        margin-inline: auto;
    }

    .topbar .container{
        max-width: unset;
    }

    .topbar .separator{ display: block;}

    .nav-open-btn,
    .navbar > *:not(.navbar-list),
    .header .overlay{ display: none;}

    .header .container{ max-width: unset;}

    .navbar,
    .navbar.active,
    .navbar-list{all: unset;}

    .navbar,
    .navbar.active{ margin-inline: auto 20px;}

    .navbar-list{
        display: flex;
        gap: 50px;
    }

    .features .grid-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .form-left,
    .form-right{ padding: 75px ;}

    iframe{
        width: 600px;
    }
}
:root{
    /* COULEURS */
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);


    /* TRANSITION */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

    /* COULEURS GRADIENTS */
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--white)
    33.33% 50%, transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);

    /* FONT SIZE */
    --fontSize-display-1: calc(1.3rem + 4.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 1.5vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* FONT WEIGHT */
    --weight-regular: 400;
    --weight-bold: 700;

    /* LINE-HEIGHT */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* LETTER-SPACING */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;


    /* SPACING */
    --section-space: 70px;

    /* SHADOW */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER-RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;
} 


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,img,data,span,input,button,select,textarea{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    height: auto;
}

input,button,select,textarea{
    background: none;
    border: none;
    font: inherit;
}

input,select,textarea{
    width: 100%;
    outline: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: hidden;
    height: 300vh;
}

body.loaded{
    overflow: overlay;
}

body.nav-active{
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4070f4;
}


.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4{
    color: var(--white);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
}

.display-1{
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
}

.headline-1{
    font-size: var(--fontSize-headline-2);
    color: var(--white);
}
.headline-2{
    font-size: var(--fontSize-headline-2);
    line-height: var(--lineHeight-6);
}

.headline-3{
    color: var(--black);
    font-size: var(--fontSize-headline-2);
}

.title-1{ font-size: var(--fontSize-title-1);}
.title-2{ font-size: var(--fontSize-title-2);}
.title-3{ font-size: var(--fontSize-title-3);}
.title-4{ font-size: var(--fontSize-title-4);}

.body-1{
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
    color: gold;
}

.body-2{
    font-size: var(--fontSize-body-2);
}

.body-3{ font-size: var(--fontSize-body-3);}

.body-4{ font-size: var(--fontSize-body-4);}

.label-1{
    font-size: var(--fontSize-label-1);
}
.label-2{
    font-size: var(--fontSize-label-2);
}




.btn{
    position: relative;
    color: var(--white);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: var(--letterSpacing-5);
    border: 2px solid var(--white);
    border-radius: var(--radius-24);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
}

.btn2{
    width: 100%;
    position: relative;
    color: var(--white);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    max-width: 100%;
    letter-spacing: var(--letterSpacing-5);
    border: 2px solid var(--white);
    background-color: #4070f4;
    border-radius: 20px;
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
    transition: all 300ms ease-in-out;
}

.btn:hover{
    border: 2px solid #4070f4;
    background: transparent;
    color: #fff;
}
.btn2:hover{
    border: 2px solid #4070f4;
    background: transparent;
    color: #fff;
    transition: all 300ms ease-in-out;
}


.reservation{
    margin-top: 100px;
}

.form-left{
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
}

.input-field{
    background-color: rgb(237, 237, 237);
    height: 56px;
    padding: 18px 20px;
    border: 1px solid var(--eerie-black-1);
    margin-block-end: 20px;
    outline: none;
    transition: var(--transition-2);
}

.input-field::placeholder{
    color: inherit;
}

.input-field:focus{
    border-color: #4070f4;
}

.icon-wrapper{
    position: relative;
    margin-block-end: 20px;
}

.icon-wrapper .input-field{
    margin-block-end: 0;
    padding-inline-start: 40px;
    appearance: none;
    cursor: pointer;
}

.icon-wrapper span{
    color: var(--black);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    --span-stroke-width: 50px;
    pointer-events: none;
}

.icon-wrapper span:first-child{ left: 15px;}

.icon-wrapper span:last-child{ right: 10px;}

/* .reservation-form{ margin-block-start: -270px;} */

.form-text{ 
    margin-block-end: 40px;
    margin-top: 20px;
}

.form-text .link{
    display: inline;
    color: gold;
}

.form-right .headline-1{
    margin-block-end: 40px;
}

.form-right .contact-label{ margin-block-end: 5px; color: var(--white);}

.form-right .separator{ margin: 20px auto; }

.form-right .body-4{
    color: var(--black);
    line-height: var(--lineHeight-3);
}

.form-right .body-4:not(:last-child){ margin-block-end: 25px;}

.form-right,
.form-left{
    padding: 40px 20px 30px;
}

textarea.input-field{
    resize: none;
    height: 140px;
    padding-block: 20px;
    line-height: var(--lineHeight-1);
}

.form-left .btn{
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
}

.form-right{
    /* background-image: url('../images/c944988b-8c7a-415f-b171-d8c64a11978b.jpg'); */
    /* background-repeat: repeat; */
    background-position: top left;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
}

.map iframe{
    padding: 30px 0 0 0;
    max-width: 100%;
    width: 100%;
}
.footer-brand{
    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-direction: row;
    gap: 35%;
}