* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
  transition: 0.2s linear;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  /* overflow-y: hidden; */
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 0.8rem;
}
html ::-webkit-scrollbar-track {
  background: transparent;
}
html ::-webkit-scrollbar-thumb {
  background: #fff;
}

body {
  background: #ffffff;
}

.header {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: 0.1rem solid rgba(30, 255, 0, 0.959);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}
.header input {
  width: 80%;
  height: 100%;
  font-size: 1.5em;
  padding-left: 5%;
}

.logo {
  position: relative;
  right: 3%;
}

.logo img {
  height: 6rem;
  width: 10rem;
}

.navbar {
  position: relative;
  left: 0;
}

.navbar a {
  margin: 0 2rem;
  font-size: 1.6rem;
  color: #13131a;
  font-weight: bold;
}

.navbar a:hover {
  color: #48fc01;
  border-bottom: 0.1rem solid #48fc01;
  padding-bottom: 0.5rem;
}

.navbar a:focus, a:nth-child(3) {
  color: #48fc01;
  border-bottom: 0.1rem solid #48fc01;
  padding-bottom: 0.5rem;
}

.sign {
  width: 18vw;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 6%;
  justify-content: space-between;
}

span > a {
  padding-top: 7%;
}

.button {
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 8vw;
  height: 6vh;
  background-color: #13131a;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition: all 1s ease-in;
}
.button svg {
  height: 40px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
.button rect {
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  stroke-dasharray: 450, 0;
  transition: all 0.5s linear;
}
.button :hover rect {
  stroke-width: 5;
  stroke-dasharray: 20, 300;
  stroke-dashoffset: 48;
  stroke: #48fc01;
  transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}

.button:hover {
  color: #48fc01;
}

.filter {
  height: 5vh;
  width: 100%;
  top: 14%;
  border: 0.1rem solid rgba(30, 255, 0, 0.959);
  font-size: 1.8rem;
  text-align: center;
  align-items: center;
  padding-top: 0.5%;
  background-color: #48fc01;
  position: fixed;
}
.filter span {
  padding-left: 3%;
}
.filter span a:focus {
  color: #fff;
  border-top: 0.3rem solid #fff;
  padding-top: 0.5rem;
}
.filter :first-child {
  padding-left: 0;
}
.filter a {
  color: #fff;
}

/*************************************************Main*****************************************/
.main {
  display: flex;
  flex-direction: row;
  height: 120vh;
  margin-top: 12%;
}
.main aside {
  height: 70%;
  width: 15%;
  border: 0.1rem solid rgba(30, 255, 0, 0.959);
  margin-left: 4%;
  position: fixed;
  background-color: rgba(30, 255, 0, 0.9);
  border-radius: 10px;
}
.main #container {
  height: 250vh;
  width: 69vw;
  margin-left: 4%;
  display: grid;
  grid-template-areas: "top top top top top top top top top top top top top top top " "middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle " "bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom" "bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1 bottom1";
  grid-template-rows: auto, 1fr, auto;
  grid-template-columns: 200px, 1fr;
  row-gap: 4%;
  column-gap: 6.4%;
  margin-left: 25%;
  transition: transform 0.5s ease;
}
.main .slide {
  width: 20vw;
  height: 55vh;
  flex: 0, 0, 100%;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: center;
  border: 0.1rem solid rgba(30, 255, 0, 0.959);
}
.main .slide .top {
  grid-area: top;
}
.main .slide .middle {
  grid-area: middle;
}
.main .slide .bottom {
  grid-area: bottom;
}
.main .controls {
  width: 10vw;
  display: flex;
  justify-content: center;
  gap: 25%;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  top: 275vh;
  left: 55%;
}
.main .controls button {
  width: 25px;
  height: 25px;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 1em;
}
.main button:hover {
  box-shadow: 0, 0, 10px, 5px, rgba(30, 255, 0, 0.959);
}
.main #indicators {
  display: flex;
}
.main .circles {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0, 4px;
  cursor: pointer;
}
.main .circles:active {
  background-color: #000000;
}

/*# sourceMappingURL=annonce.css.map */
